a{
    text-decoration: none;
}
h1, h2{
    font-family: "Bebas Neue", sans-serif;

}
body, html{
    overflow-x: hidden !important;
}

.navbar-custom {
    background-color: #000; /* Black background */
    font-family: "Bebas Neue", sans-serif;

}
.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-toggler-icon {
    color: #fff; /* White text */
    font-size: 25px;
}

.navbar-custom .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Optional: white border around toggler */
}
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.btn-primary {
    height: 7rem; /* Full height */
    width: 10%; /* Fixed width */
    background-color: #fff !important;
    color: #000 !important;
}


/* Full-height container */
.video-background {
    position: relative;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}
.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: rgba(0, 0, 0, 0.5); /* Grey overlay with 50% opacity */
    z-index: 1; /* Place overlay above the video */
}

.tittle{
    font-size: 4rem;
}
.button-container {
    display: flex;
}
.button-container-desk{
    margin-top: 100px;
}
.button1 {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    justify-content: center;
    align-items: center;
    width: 230px; /* Adjust width as needed */
    height: 120px; /* Adjust height as needed */
    background-color: #000; /* Button color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Optional: rounded corners */
    font-size: 30px; /* Font size for the top row */
    text-align: center;
    text-decoration: none; /* Remove underline for <a> tag */
    font-weight: bold;
    position: relative;
    overflow: hidden;
    
}

.button1:hover {
    transform: translateY(-5px); /* Small jump effect */
    color: #fff;
}

.button-subtext1 {
    font-size: 20px; /* Smaller text for the bottom row */
    color: #fff; /* Text color */
    margin-top: -50px;
    font-weight: normal;
    font-family: "Inter", sans-serif;

}
/* Button 2 Styles */
.button2 {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    justify-content: center;
    align-items: center;
    width: 230px; /* Adjust width as needed */
    height: 120px; /* Adjust height as needed */
    background-color: #ffffff; /* Button color */
    color: #000000; /* Text color */
    border: none;
    border-radius: 5px; /* Optional: rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline for <a> tag */
    font-weight: bold;
    position: relative;
    overflow: hidden;
    font-size: 18px; /* Font size for the top row */
}

.button2:hover {
    transform: translateY(-5px); /* Small jump effect */
    color: #000;
}

.button-subtext {
    font-weight: normal;
    font-size: 14px; /* Smaller text for the bottom row */
    color: #000000; /* Text color */
    font-family: "Inter", sans-serif;

}

.buttonMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: #ffffff; /* Button color */
    color: #000000; /* Text color */
    border: none;
    border-radius: 5px; /* Optional: rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline for <a> tag */
    font-weight: bold;
    overflow: hidden;
    font-size: 18px; /* Font size for the top row */
}
.buttonMain2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: #000000; /* Button color */
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 5px; /* Optional: rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline for <a> tag */
    font-weight: bold;
    overflow: hidden;
    font-size: 25px; /* Font size for the top row */
}
.buttonMain2:hover {
    transform: translateY(-5px); /* Small jump effect */
    color: #ffffff;
}

.button2:hover {
    transform: translateY(-5px); /* Small jump effect */
    color: #000;
}
/* Button 3 Styles */

.button3 {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    justify-content: center;
    align-items: center;
    width: 230px; /* Adjust width as needed */
    height: 120px; /* Adjust height as needed */
    background-color: #FFAC0B; /* Button color */
    color: #000000; /* Text color */
    border: none;
    border-radius: 5px; /* Optional: rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline for <a> tag */
    font-weight: bold;
    position: relative;
    overflow: hidden;
    font-size: 18px; /* Font size for the top row */
}

.button-subtext {
    font-weight: normal;
    font-size: 14px; /* Smaller text for the bottom row */
    color: #000000; /* Text color */
    margin-top: -20px;
}

.button1, .button3,.button2,.buttonMain,.buttonMain2{
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
    text-decoration: none !important;
    font-family: "Bebas Neue", sans-serif;



}
/* Content Styles */
.content {
    position: relative;
    z-index: 3; /* Ensure content is above the overlay */
    color: #fff; /* White text */
    text-align: left;
    padding: 20px;
    top: 10rem;
}


.black-square {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 500px; /* Adjust as needed */
    align-items: center;
    justify-content: center;
    
}

.teamPic{
    width: 60vw; 
    margin-top: -60px;
}
.mission{
    margin-bottom: 300px;
text-align: center;}

.black-square h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.mission p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    width: 40vw;
}

.black-square .buttonMain {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.Services h1{
    font-size: 100px;
}

.Services h2{
    font-size: 60px;
}



.hero-section {
    position: relative;
    height: 500px;
    width: 100vw;
    background-image: url('/img/v6_59.jpg'); /* Adjust this path as needed */
    background-size: cover;
    background-position: center;
    margin-bottom: 0;

}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity for the tent effect */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;

}

.service-box {
    text-align: center;
    padding: 20px;
    color: white;
    margin: 0;
}

.services-row {
    margin: 0;
    padding: 0;
    width: 100vw;
    margin-top: -24px;
}

.service-box img {
    width: 50px;
    height: 50px;
}

.last-minute-movers {
    background-color: #FFA000; /* Example color */
}

.full-value-insurance {
    background-color: #000; /* Example color */
}

.five-stars {
    background-color: #ffffff; /* Example color */
}
.col-md-4 {
    padding: 0;
    margin: 0;

}


.matt{
    width: auto;
    height: 600px;
}


/* General Footer Styling */
.footer {
    margin-top: 50px;
    background-color: #000;
}

/* Logo Styling */
.footer-logo {
    width: 168px;
    height: 177px;
}

/* Company Info Styling */
.company-name {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}

.company-info, .company-contact {
    font-family: 'Inter', sans-serif;
}

/* Divider Styling */
.footer-divider {
    border-left: 3px solid white;
    height: 100%;
}

/* Areas We Serve Styling */
.areas-served {
    border-radius: 22px;
    padding: 20px; /* Reduced padding */
    width: 90%; /* Adjust the width to make it smaller */
    margin: 0 auto; /* Center the box */
}


.areas-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.areas-description, .area-name {
    font-family: 'Inter', sans-serif;
}

.area-name {
    font-weight: bold;
}

/* Social Icons Styling */
.social-icons img {
    margin-right: 10px;
}

/* About Us */



.black-square2 {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    max-width: 500px; /* Adjust as needed */
    align-items: center;
    justify-content: center;
}
.openTitle{
    margin-top: 50px;

    margin-bottom: 300px;
    text-align: center;
}
.openTitle h1{
    font-size: 90px;
}
.openTitle h2{
    font-size: 45px;
    margin-top: 50px;
}
.openTitle p{
    font-size: 20px;
    text-align: left;
}
.openTitle img{
   width: 535px;
   height: auto;
   border-radius: 20px;
}
.MTT h1{
    font-size: 100px;
}


/* 6. FQA */
.fqa{
    font-size: 70px;
  }
  
  
  .custom-section2 p{
    font-size: 20px;
  }
  .accordion {
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 33px;
    transition: 0.4s;
    border: transparent;
    margin-left: 0px;
  
  }
  
  .active, .accordion:hover {
    background-color: #ffa200;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
  content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    max-height: 0;
    margin-left: 15px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel:hover{
    background-color: #f0c478;
  }
  
  .container {
    padding: 20px 0;
  }
  
  .text-center {
    text-align: center;
  }
  
/* Hide button container on desktop */
@media (min-width: 992px) {
    .button-container-bottom {
        display: none;
    }
}

/* Show button container on mobile */
@media (max-width: 991px) {
    .button-container-bottom {
        display: flex;
        flex-direction: row; /* Side by side on mobile */
        justify-content: space-between; /* Space buttons side by side */
        width: 100%; /* Full width of the viewport */
        margin-top: 20px; /* Adjust margin if needed */
    }

    .button-container-desk {
        display: none !important;
    }
}

/* Ensure video height is adjusted on mobile */
@media (max-width: 767px) {
    
    .video-background {
        height: 40vh; /* 40% of the viewport height */
    }

    .video-background video {
        height: 100%;
    }

    .video-overlay {
        height: 99.5%;
    }

    .content {
        top: 0; /* Move content up to fit into the 40% height */
        padding: 20px; /* Adjust padding if needed */
        text-align: left; /* Center text and buttons */
        left: 0;
    }

    .tittle {
        font-size: 30px;
        width: 100%; /* Adjust font size on mobile */
        margin-top: 150px;
    }


    .button1, .button3 {
        width: 100%; /* Make buttons take almost full width with spacing */
        margin-top: -23px;
    }
    
    .teamPic{
        width: 150%;
        margin-left: -110px;
        margin-top: 0px;
    }
    .black-square {
        background-color: black;
        color: white;
        border-radius: 20px;
        margin-top: 50px;
        max-width: 100vw; /* Adjust as needed */
        align-items: center;
        margin-left: 50px;
        justify-content: center;
        
    }
    .mission{
        text-align: center;}

    .black-square h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }

    .mission p {
        font-size: 16px;
        text-align: left;
        margin-bottom: 40px;
        width: 85vw;
    }
    .Services h1{
        font-size: 60px;
    }
    
    .Services h2{
        font-size: 40px;
    }

    .matt{
        display: none;
    }

    .QUOTE{
        text-align: center;
    }
    .mobile-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    .iframe{
        width: 100vw !important;
    }

    .black-square2 {
        background-color: black;
        color: white;
        border-radius: 20px;
        margin-top: 50px;
        max-width: 100vw; /* Adjust as needed */
        align-items: center;
        margin-right: 50px;
        justify-content: center;
        margin-bottom: 50px;
    }
    .openTitle h1{
        font-size: 80px;
    }
    .openTitle h2{
       margin-left: -40px !important;
    }
    .openTitle p{
        width: auto !important;
        margin-left: 0px !important;
    }
    .openTitle img{
        width: 350px;
    }
    .MTT{
        align-items: center;
    }
}
