/* Page Headers and Number (Same on all pages) */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.video-container {
  position: relative;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.video-overlay h1, .video-overlay h2 {
  margin: 10px;
}

.video-overlay.hidden {
  opacity: 0;
}
.header-content {
  padding-top: 30px;
  text-align: center;
}

.header-logo img {
  width: 12vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 360px;
}

.PhoneNumber {
  font-size: 1vw;
  position: absolute;
  top: 5px;
  right: 200px;
  color: rgba(255, 196, 0, 0.774);
  background-color: #000000;
  border-radius: 30px;
  padding: 0px 5px 0px 5px;
  width: auto;

  height: auto;
  font-family: 'Fjalla One', sans-serif;
}

.InstagramIcon img {
  height: auto;
  width: 45px;
  position: relative;
  top:82px;
  left: 15px;
}

.FacebookIcon img {
  height: auto;
  width: 50px;
  position: relative;
  top:30px;
  right: 40px;
}

.TitleWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TitleWork h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vw;
  position: relative;
  font-style: oblique;
  top: 7vw;
  margin-bottom: 100px;
  margin-right: 30px;
}

/* Add styles for the header and header links */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

nav ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  font-size: 2vw;
  text-align: center;
}

nav ul li a {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
}

nav ul li a:hover {
  background-color: rgba(248, 199, 37, 0.774);
  transition: 2s;
}

nav ul li.active a {
  background-color: rgba(248, 199, 37, 0.774);
}

footer {
  
  background-color: #636363;
  padding: 100px;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
}
.footer-column {
  flex: 1;
  padding: 10px;
}
.footer-column h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 50px;
  position: relative;
  bottom: 4vw;
  
}
.footer-column p {

  color: #ffffff;
  font-size: 30px;
  margin-bottom: px;
  position: relative;
  bottom: 5vw;
}
.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-column li {
  color: #ffffff;
  margin-bottom: 5px;
}
.footer-column.hr {
  border-left: 1px solid #ffffff;
  
}

.Callus h4{
  font-size: 2vw ;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: relative;
  bottom: 5vw;
}

.Callus p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3vw ;
  
}
.area-we-cover li {
  
  color: #ffffff;
  
  
}
.area-we-cover{
  position: relative;
  bottom: 5vw;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  
}

.grid-container > div {
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 10px;
  opacity: 100%;
}
.CEO img {
  width: 15vw;
  height: auto;
  position: relative;
  bottom: 20vw;
  right: 17vw;
}
.InstagramIconColor img {
  height: auto;
  width: 4vw;
  position: relative;
  bottom: 30vw;
  right: 35vw;
  
}

.FacebookIconColor img {
  height: auto;
  width: 4vw;
  position: relative;
  bottom: 26vw;
  right: 40vw;
}

/* Rest of your CSS remains the same */

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease;
  z-index: 99;
}

.sidebar.open {
  left: 0; /* Show the sidebar when open class is added */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 40px 20px;
  display: block;
}

.sidebar nav li {
  margin-bottom: 20px;
  font-size: 40px;
 
}

.sidebar nav a {
  color: #fff;
  text-decoration: none;
}

/* Hamburger styles */
.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
  display: none; /* Initially hidden on larger screens */
  color: white;
}





/* Moving */

.H1moving {
  font-family: 'bebas neue';
  margin-top: 50px;
}

.H1moving h1 {
  margin-left: 60px;
}

.H1moving p {
  font-size: 25px;
  text-align: left;
}

.H1moving h1 {
  font-size: 50px;
  text-align: center;
}

.image-container {
  font-family: 'bebas neue';
  margin-right: 20px;
  margin-bottom: 10px;
}

/* FQA */

.QuestionsAsked{
 text-align: center;
  color: black;
 
}
.QuestionsAsked h1{
font-size: 60px;
font-family: 'Roboto Condensed', sans-serif;
}

.QuestionsAsked h2{
  font-size: 30px;
  margin-top: 100px;
  font-family: 'Roboto Condensed', sans-serif;

}
.QuestionsAsked p{
font-size: 20px;
width: 55vw;
margin-left: 22vw;
font-family: 'Open Sans', sans-serif;
margin-bottom: 100px;
}
.question:not(:first-child) {
  display: none;
}
.question {
  display: none;
  padding: 20px;
}



/* Reviews */
.ReviewsHeader h1{
  font-size: 5vw;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.ReviewsHeader p{
  font-size: 2vw;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



@media (min-width: 360px) and (max-width: 420px) {
  .header-logo img {
    width: 25vw;
    left: 1vw;
  }
  .hamburger {
    display: block;
  }

  /* Hide the sidebar when hamburger is not clicked */
  .sidebar {
    left: -250px;
  }
  .video-overlay header {
    display: none;
  }
 .CEO{
  display: none;
 }
  .PhoneNumber {
    font-size: 1.5vw;
    right: 20vw;
  }

  .InstagramIcon img {
    display: none;
  }

  .FacebookIcon img {
    display: none;
  }

  .TitleWork h1 {
    font-size: 10vw;
    top: 20vw;
  }
  .footer-columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align-last: center;
  }
  .Area-we-cover-text{
    position: relative;
    width: 5vw;
    left: 7vw;
  }
  .footer-column.hr{
    border-left: 1px solid #636363;
    text-align-last: center;
  }

  .footer-column h3 {
    font-size: 10vw;
    bottom: 25vw;
    text-align: center;
  }

  .footer-column p {
    font-size: 8vw;
    bottom: 25vw;
    width: 70vw;
  }

  .Callus h4 {
    font-size: 10vw;
    bottom: 30vw;
  }

  .Callus p {
    font-size: 10vw;
    bottom: 45vw;
  }

  .Area-we-cover-text{
    color: burlywood;
  }
  .area-we-cover {
    position: relative;
    bottom: 5vw;
    left: 1vw;
    
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto 50vw ;
    grid-gap: 1vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5vw;
    
  }
  .InstagramIconColor img {
    width: 15vw;
    bottom: 225vw;
    left: 15vw;
  }

  .FacebookIconColor img {
    width: 15vw;
    bottom: 210vw;
    right: 20vw;
  }

  /* Additional styles specific to screen size between 360px and 420px */
  .H1moving h1 {
    margin-left: 30px;
    font-size: 30px;
  }

  .QuestionsAsked h1 {
    font-size: 40px;
  }

  .QuestionsAsked h2 {
    font-size: 20px;
    margin-top: 50px;
  }

  .QuestionsAsked p {
    font-size: 15px;
    width: 90vw;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .ReviewsHeader h1{
    font-size: 15vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .ReviewsHeader p{
    font-size: 5vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
}
  