/* Page Headers and Number (Same on all pages) */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*Video/Header Start------------------------------------------ */

.video-container {
  position: relative;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.video-overlay h1, .video-overlay h2 {
  margin: 10px;
}

.video-overlay.hidden {
  opacity: 0;
}
.header-content {
  padding-top: 30px;
  text-align: center;
}

.header-logo img {
  width: 12vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 360px;
}

.PhoneNumber {
  font-size: 1vw;
  position: absolute;
  top: 5px;
  right: 200px;
  color: rgba(255, 196, 0, 0.774);
  background-color: #000000;
  border-radius: 30px;
  padding: 0px 5px 0px 5px;
  width: auto;

  height: auto;
  font-family: 'Fjalla One', sans-serif;
}

.InstagramIcon img {
  height: auto;
  width: 45px;
  position: relative;
  top:82px;
  left: 15px;
}

.FacebookIcon img {
  height: auto;
  width: 50px;
  position: relative;
  top:30px;
  right: 40px;
}

.TitleWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TitleWork h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vw;
  position: relative;
  font-style: oblique;
  top: 7vw;
  margin-bottom: 100px;
  margin-right: 30px;
}
/*Video/Header End------------------------------------------ */

/*NavBar Start------------------------------------------ */

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

nav ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  font-size: 2vw;
  text-align: center;
}

nav ul li a {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
}

nav ul li a:hover {
  background-color: rgba(248, 199, 37, 0.774);
  transition: 2s;
}

nav ul li.active a {
  background-color: rgba(248, 199, 37, 0.774);
}
/*NavBar End------------------------------------------ */

/*Footer Start------------------------------------------ */
footer {
  
  background-color: #636363;
  padding: 10px;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
}
.footer-column {
  flex: 1;
  padding: 10px;
}
.footer-column h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 50px;
  position: relative;
  bottom: 4vw;
  
}
.footer-column p {

  color: #ffffff;
  font-size: 30px;
  margin-bottom: px;
  position: relative;
  bottom: 5vw;
}
.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-column li {
  color: #ffffff;
  margin-bottom: 5px;
}
.footer-column.hr {
  border-left: 1px solid #ffffff;
  
}

.Callus h4{
  font-size: 2vw ;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: relative;
  bottom: 5vw;
}

.Callus p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3vw ;
  
}
.area-we-cover li {
  
  color: #ffffff;
  
  
}
.area-we-cover{
  position: relative;
  bottom: 5vw;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  
}

.grid-container > div {
  color: white;
  text-align: center;
  padding: 5px 100px;
  font-size: 10px;
  opacity: 100%;
}
.CEO img {
  width: 15vw;
  position: absolute;
  bottom: 10vw;
  right: 50vw;
}
.InstagramIconColor img {

  width: 4vw;
  position: relative;
  bottom: 10vw;
  right: 35vw;
  
}
.FacebookIconColor img {
 
  width: 4vw;
  position: relative;
  bottom: 5.7vw;
  right: 40vw;
 
}
/*Footer End------------------------------------------ */


/* Sidebar Start------------------------------------------ */

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease;
  z-index: 99;
}

.sidebar.open {
  left: 0; /* Show the sidebar when open class is added */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 40px 20px;
  display: block;
}

.sidebar nav li {
  margin-bottom: 20px;
  font-size: 40px;
 
}

.sidebar nav a {
  color: #fff;
  text-decoration: none;
}

/* Hamburger styles */
.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
  display: none; /* Initially hidden on larger screens */
  color: white;
}
/*Sidebar End------------------------------------------ */




/* Moving-------------------------------------------------- */

.H1moving {
  font-family: 'bebas neue';
  margin-top: 50px;
}


.H1movingAbout {
  position: relative;
  font-size: 50px;
  font-size: 25px;
  width: 40vw ;
  left: 50vw;
  font-family: 'Roboto Condensed', sans-seri;
  word-spacing: 6px;
}


.H1movingP p {
  position: relative;
  font-size: 1.6vw;
  text-align: center;
  font-family: 'Roboto Condensed', sans-seri;
  margin-bottom: 5vw;
}


.H1moving h1 {
  position: relative;
  font-size: 60px;
  text-align: center;
  letter-spacing: 10px;
}

.H1moving h2 {
  position: relative;
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
  right: 1vw;
 
  letter-spacing: 12px;
}
.movingPage1{
  position: relative;
  bottom: 53.5vw;
  left: 19vw;
}
.moving-img1 {
  position: relative;
  right: 13vw;
  width: 1vw;

}

.moving-img2 {
 position: relative;
  right: 13vw;
  width: 1vw;
}

.moving-img3 {
  position: relative;
  right: 13vw;
  width: 1vw;

}

.movingtext h2{

  font-size:17px;
  text-align: center;
  margin-left: 2rem;
  width: 20vw;
  margin-top: 10px;
  font-family: 'Roboto Condensed', sans-seri;
}


.movingtext {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  bottom: 32vw;
  font-family: 'bebas neue';
  
}
.Meritbasic,.Meritelite,.meritteam{
  display: flex; /* Add this line to create a flex container */
  flex-direction: column; /* Add this line to stack items vertically */
  align-items: center;
  text-align: center; /* Add this line to center the text */
}
.Meritbasic{
  margin-left: 10vw;
}
.meritteam{
  margin-right: 10vw;
}
.movingtext h1{
  font-size: 30px;
  text-align: center;
  
}

.movingtext p {
  margin-left: 5vw;
  margin-top: 2vw;
  margin-right: 3vw;
  font-size: 20px;
  text-align: center;
  align-items: center;

}

.meritteamList,.MeriteliteList,.MeritbasicList{
  font-size: 15px;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-seri;
}

.needatruck{
  position: relative;
  text-align: center;
  font-family: 'bebas neue';
  margin-bottom: 5vw;
  bottom: 30vw;
}

.needatruck h1 {
  font-size: 20px;
  letter-spacing: 2px;
}

.needatruck p{
  font-family: 'Roboto Condensed', sans-seri;
  font-size: 17px;
  margin-left: 16vw;
  margin-right: 16vw;
}

.manpower{
  position: relative;
  text-align: center;
  font-family: 'bebas neue';
  
  bottom: 32vw;
  margin-top: 7vw;
  
}

.manpower h1{
  font-size: 60px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.manpower p{
  font-family: 'Roboto Condensed', sans-seri;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5vw;
}

.moving-img4{
  align-self: center;
  position: relative;
  bottom: 35vw;
  left: 42vw;
  width: 2vw;
}


.merittext2 h3{
  position: relative;
  text-align: center;
  font-family: 'bebas neue';
  margin-bottom: 5vw;
  bottom: 36vw;
  font-size: 20px;
 
}
.PriceList{
  position: relative;
  right: 5vw;
}

.merittext3 p{
  margin-top: 20px;
}

.merittext2 ul{
  position: relative;
  list-style-type: disc; /* Set the bullet style to 'disc', other options include 'circle', 'square', etc. */
  padding-left: 47vw; /* Increase or decrease the left padding to move the list to the right */
  font-family: 'Roboto Condensed', sans-seri;
  bottom: 40vw;
  font-size: 20px;
  right: .5vw;
}

.merittext3,.merittext4 {
  position: relative;
  text-align: center;
  font-family: 'bebas neue';
  margin-bottom: 5vw;
  bottom: 39vw;
  left: .5vw;

}


.BedroomList{
  align-content: center;
  position: relative;
  left: 40vw;
  font-family: 'Roboto Condensed', sans-seri;
  position: relative;
  bottom: 40vw;
  font-size: 20px;
}

.merittext3 h1{
  font-family: 'bebas neue';

}

.merittext3,.merittext4 h1{
  margin-top: 50px;
  
  margin-bottom: 20px;
  font-size: 40px;
  letter-spacing: 5px;
  word-spacing: 10px;
  
}

.merittext3 h2{
  
  letter-spacing: 5px;
  word-spacing: 10px;
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 25px;
}
.merittext3,.merittext4 p{
  font-family: 'Roboto Condensed', sans-seri;
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 20px;
}
.MovingChargesList{
  align-content: center;
  position: relative;
  left: 23vw;
  font-family: 'Roboto Condensed', sans-seri;
  position: relative;
  bottom: 40vw;
  font-size: 17px;
}
/*Moving End------------------------------------------ */

/* FQA Start------------------------------------------ */


.QuestionsAsked{
  text-align: center;
   color: black;
  
 }
 .QuestionsAsked h1{
 font-size: 60px;
 font-family: 'Roboto Condensed', sans-serif;
 }
 
 .QuestionsAsked h2{
   font-size: 30px;
   margin-top: 100px;
   font-family: 'Roboto Condensed', sans-serif;
 
 }
 .QuestionsAsked p{
   font-size: 20px;
   width: 55vw;
   margin-left: 22vw;
   font-family: 'Open Sans', sans-serif;
   margin-bottom: 100px;
   text-align: center;
 }
 .question:not(:first-child) {
   display: none;
 }
 .question {
   display: none;
   padding: 20px;
 }
 /*FQA End------------------------------------------ */

 
 
 /* Reviews Start------------------------------------------ */

 .ReviewsHeader h1{
   font-size: 5vw;
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
 }
 .ReviewsHeader p{
   font-size: 2vw;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
 }
 
 .Rev{
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: hidden;
   font-family: 'Open Sans', sans-serif;
 }
 
 /*Reviews End------------------------------------------ */

 /* About us Start------------------------------------------ */

 
 .About-us h1{
   font-family: 'Roboto Condensed', sans-serif;
   margin-left: 10vw;
 }
 .About-us p{
   font-family: 'Open Sans', sans-serif;
   width: 50vw;
   margin-left: 10vw;
 }
 .high-quality-Moving{
   position: relative;
   bottom: 20vw;
   left: 65vw;
 }
 .MeetTeam{
   position: relative;
   bottom: 15vw;
 }
 .MeetTeam h1{
   color: white;
   text-align: center;
   background-color:#333 ;
   padding: 1vw;
   font-family: 'Roboto Condensed', sans-serif;
 }
 .Dazz{
   position: relative;
   top: 1vw;
   left: 30vw;
 }
 .MATT{
   position: relative;
   left: 10vw;
   top: 1vw;
 }
 .Dazz, .MATT {
   opacity: 0;
   position: relative;
   display: inline-block;
 }
 
 .Dazz .overlay,
 .MATT .overlay {
   opacity: 0; /* Set initial opacity to 0 */
   pointer-events: none; /* Prevent the overlay from blocking hover events on the image */
   position: absolute;
   top: 50px;
   left: 60px;
   width: 60%;
   height: 60%;
   background-color: rgba(255, 255, 255, 0.7);
   color: #000000;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   
   transition: opacity 0.3s ease; /* Add transition for smooth fade in/out */
 }
 
 .Dazz:hover .overlay, .MATT:hover .overlay {
   display: block;
   opacity: 100;
 }
 
 .Dazz, .MATT {
   opacity: 0;
 }
 
 .fade-in-animation {
   animation: fadeIn 1.5s ease;
 }
 
 @keyframes fadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
/*About us End------------------------------------------ */

  /* Gallery Start----------------------------------------- */


  .grid-container-pic {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw ;
    gap: 2vw;
    margin-top: 10vw;
    margin-left: 20vw;
    grid-column-gap: 1vw;
    margin-bottom: 5vw;
    column-gap: 1vw;
    
  }
  
  .grid-container > div {
    width: 5vw;
    opacity: 100%;

  }
/*Gallery End------------------------------------------ */

/*Small Screens(Phones) Start------------------------------------------ */

@media (min-width: 360px) and (max-width: 420px) {
 
  .header-logo img {
    width: 25vw;
    left: 1vw;
  }
  .hamburger {
    display: block;
  }

  /* Hide the sidebar when hamburger is not clicked */
  .sidebar {
    left: -250px;
  }
  .video-overlay header {
    display: none;
  }
 .CEO{
  display: none;
 }
  .PhoneNumber {
    font-size: 1.5vw;
    right: 20vw;
  }

  .InstagramIcon img {
    display: none;
  }

  .FacebookIcon img {
    display: none;
  }

  .TitleWork h1 {
    font-size: 10vw;
    top: 20vw;
  }
  .footer-columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align-last: center;
  }
  .Area-we-cover-text{
    color: burlywood;
    position: relative;
    right: 1vw;
    text-align: center;

  }
  .footer-column.hr{
    border-left: 1px solid #636363;
    text-align-last: center;
  }

  .footer-column h3 {
    font-size: 10vw;
    bottom: 10vw;
    text-align: center;
  }

  .footer-column p {
    font-size: 8vw;
    bottom: 15vw;
    width: 70vw;
  }

  .Callus h4 {
    font-size: 10vw;
    bottom: 20vw;
  }

  .Callus p {
    font-size: 10vw;
    bottom: 35vw;
  }

 
  .area-we-cover {
    position: relative;
    bottom: 5vw;
    left: 1vw;
    
    
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 1vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5vw;
    
  }
 
  .InstagramIconColor img {
   position: relative;
    width: 15vw;
    bottom: 225vw;
    left: 15vw;
  }
  .grid-container > div {
    width: 5vw;
    opacity: 100%;
    padding: 5px ;
  }

  .FacebookIconColor img {
   position: relative;
    width: 15vw;
    bottom: 210vw;
    right: 20vw;
  }

 

  .H1moving {
    font-family: 'bebas neue';
    margin-top: 50px;
  }
  
  
  .H1movingAbout {
    position: relative;
    width: 80vw ;
    left: 10vw;
    font-size: 20px;
    text-align: center;
    
  }
  
  
  .H1movingP p{
    margin-bottom: 200px;
    font-size: 8vw;
  }
  .movingPage1{
    display: none;
  }
  .moving-img1 {
    position: relative;
    right: 43vw;
   
  
  }
 
  .moving-img2 {
   position: relative;
    right: 46vw;
  
  }
  
  .moving-img3 {
    position: relative;
    right: 43vw;

    
  }
  
  .movingtext h2{
    margin-left: 0rem;
    width: 30vw;
    margin-top: 0px;
    
  }
  
  
  .movingtext {
    position: relative;
    display: block;
    align-items: l;
    justify-content: space-between;
    bottom: 32vw;
    font-family: 'bebas neue';
    
  }
  .Meritbasic,.Meritelite,.meritteam{
    display: flex; 
    align-items: left;
    text-align: center; /* Add this line to center the text */
  }
  .Meritbasic{
    margin-left: 0vw;
  }
  .meritteam{
    margin-right: 0vw;
  }
  .movingtext h1{
    font-size: 30px;
    text-align: center;
    align-items: center;
    
  }
  
  .movingtext p {
    margin-left: 5vw;
    margin-top: 2vw;
    margin-right: 3vw;
    font-size: 20px;
    text-align: center;
    align-items: center;
  
  }
  .meritteamList,.MeriteliteList,.MeritbasicList{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-seri;
  }
  
  .needatruck{
    position: relative;
    text-align: center;
    font-family: 'bebas neue';
    margin-bottom: 5vw;
    bottom: 30vw;
  }
  
  .needatruck h1 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  .needatruck p{
    font-family: 'Roboto Condensed', sans-seri;
    font-size: 17px;
    margin-left: 16vw;
    margin-right: 16vw;
  }
  
  .manpower{
    position: relative;
    text-align: center;
    font-family: 'bebas neue';
    
    bottom: 32vw;
    margin-top: 7vw;
    
  }
  
  .manpower h1{
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
  .manpower p{
    font-family: 'Roboto Condensed', sans-seri;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5vw;
  }
  
  .moving-img4{
    align-self: center;
    position: relative;
    bottom: 35vw;
    left: 23vw;
    width: 2vw;
  }
  
  
  .merittext2 h3{
    position: relative;
    text-align: center;
    font-family: 'bebas neue';
    margin-bottom: 5vw;
    bottom: 36vw;
    font-size: 20px;
   
  }
  .PriceList{
    position: relative;
    right: 15vw;
  }
  
  .merittext3 p{
    margin-top: 20px;
  }
  
  .merittext2 ul{
    position: relative;
    list-style-type: disc; /* Set the bullet style to 'disc', other options include 'circle', 'square', etc. */
    padding-left: 47vw; /* Increase or decrease the left padding to move the list to the right */
    font-family: 'Roboto Condensed', sans-seri;
    bottom: 40vw;
    font-size: 20px;
    right: .5vw;
  }
  
  .merittext3,.merittext4 {
    position: relative;
    text-align: center;
    font-family: 'bebas neue';
    margin-bottom: 5vw;
    bottom: 39vw;
    left: .5vw;
  
  }
  
  
  .BedroomList{
    align-content: center;
    position: relative;
    left: 15vw;
   
  }
  
  .merittext3 h1{
    font-family: 'bebas neue';
  
  }
  
 
  
  .merittext3 h2{
  
    margin-left: 0vw;
    margin-right: 0vw;
   ;
  }
  .merittext3,.merittext4 p{
   
    margin-left: 15vw;
    margin-right: 15vw;
    
  }
  .MovingChargesList{
    align-content: center;
    position: relative;
    left: 1vw;
   
  }



  .QuestionsAsked h1 {
    font-size: 40px;
  }

  .QuestionsAsked h2 {
    font-size: 20px;
    margin-top: 50px;
  }

  .QuestionsAsked p {
    font-size: 15px;
    width: 90vw;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .ReviewsHeader h1{
    font-size: 10vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .ReviewsHeader p{
    font-size: 5vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .grid-container-pic{
    display: grid;
    grid-template-columns: auto  ;
    grid-gap: 1vw;
    
  }
  .grid-container-pic > div {
   width: 5vw;
    
    opacity: 100%;
  }
  .About-us h1{
   
    margin-left: 10vw;
  }
  .About-us p{
    font-family: 'Open Sans', sans-serif;
    width: 70vw;
    margin-left: 10vw;
    
  }
  .high-quality-Moving{
    display: none;
  }
  .MeetTeam{
    margin-top: 140px;
  }
  .Dazz{
    position: relative;
    top: 1vw;
    left: 10vw;
  }
  .body{
    overflow-x: hidden;
  }
}
/*Small Screens(Phones) End------------------------------------------ */

/*Meidum Screens(Tablets) Start------------------------------------------ */

@media (min-width: 760px) and (max-width: 1020px) {
  .header-logo img {
    width: 25vw;
    left: 1vw;
  }
  .hamburger {
    display: block;
  }

  /* Hide the sidebar when hamburger is not clicked */
  .sidebar {
    left: -250px;
  }
  .video-overlay header {
    display: none;
  }
 .CEO{
  display: none;
 }
  .PhoneNumber {
    font-size: 1.5vw;
    right: 20vw;
  }

  .InstagramIcon img {
    display: none;
  }

  .FacebookIcon img {
    display: none;
  }

  .TitleWork h1 {
    font-size: 10vw;
    top: 20vw;
  }
  
  .InstagramIconColor img {
    position: relative;
    width: 8vw;
    bottom: 25vw;
    right: 25vw;
  }

  .FacebookIconColor img {
    position: relative;
    width: 8vw;
    bottom: 16.5vw;
    right: 35vw;
  }

  .H1moving h1 {
    margin-left: 30px;
    font-size: 30px;
  }

  .QuestionsAsked h1 {
    font-size: 40px;
  }

  .QuestionsAsked h2 {
    font-size: 20px;
    margin-top: 50px;
  }

  .QuestionsAsked p {
    font-size: 15px;
    width: 90vw;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .ReviewsHeader h1{
    font-size: 15vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .ReviewsHeader p{
    font-size: 5vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .grid-container-pic{
    display: grid;
    grid-template-columns: auto auto  ;
    grid-gap: 1vw;
    
  }
  .grid-container-pic > div {
   width: 5vw;
    
    opacity: 100%;
  }
  .About-us h1{
   
    margin-left: 10vw;
  }
  .About-us p{
    font-family: 'Open Sans', sans-serif;
    width: 70vw;
    margin-left: 10vw;
    
  }
  .high-quality-Moving{
    display: none;
  }
  .MeetTeam{
    margin-top: 140px;
  }
  .Dazz{
    position: relative;
    top: 1vw;
    left: 10vw;
  }
  .body{
    overflow-x: hidden;
  }
}
/*Meidum Screens(Tablets) End------------------------------------------ */

/*XL Screens(Tv and big Monitors) Start------------------------------------------ */

@media (min-width: 1400px){
  .H1moving {
    font-family: 'bebas neue';
    margin-top: 50px;
  }
  
  
  .H1movingAbout {
    position: relative;
    font-size: 50px;
    font-size: 25px;
    width: 40vw ;
    left: 50vw;
    font-family: 'Roboto Condensed', sans-seri;
    word-spacing: 6px;
  }
  
  
  .H1movingP p {
    position: relative;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-seri;
    margin-bottom: 10vw;
    bottom: 7vw;
  }
  
  
  .H1moving h1 {
    position: relative;
    font-size: 60px;
    text-align: center;
    letter-spacing: 10px;
  }
  
  .H1moving h2 {
    position: relative;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    letter-spacing: 12px;
    bottom: 2vw;
    margin-bottom: 6vw;
  
  }
  .movingPage1{
    position: relative;
    bottom: 43vw;
    left: 25vw;
  }
  .moving-img1 {
    position: relative;
    right: 8vw;
    width: 1vw;
  
  }
  
  .moving-img2 {
   position: relative;
    right: 9vw;
    width: 1vw;
  }
  
  .moving-img3 {
    position: relative;
    right: 8vw;
    width: 1vw;
  
  }
  
  .movingtext h2{
  
    font-size:17px;
    text-align: center;
    margin-left: 2rem;
    width: 20vw;
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-seri;
  }
  
  
  .movingtext {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    bottom: 32vw;
    font-family: 'bebas neue';
    
  }
  .Meritbasic,.Meritelite,.meritteam{
    display: flex; /* Add this line to create a flex container */
    flex-direction: column; /* Add this line to stack items vertically */
    align-items: center;
    text-align: center; /* Add this line to center the text */
  }
  .Meritbasic{
    margin-left: 10vw;
  }
  .meritteam{
    margin-right: 10vw;
  }
  .movingtext h1{
    font-size: 30px;
    text-align: center;
    
  }
  
  .movingtext p {
    margin-left: 5vw;
    margin-top: 2vw;
    margin-right: 3vw;
    font-size: 20px;
    text-align: center;
    align-items: center;
  
  }
  .meritteamList,.MeriteliteList,.MeritbasicList{
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-seri;
  }
  
  .needatruck{
    position: relative;
    text-align: center;
    font-family: 'bebas neue';
    margin-bottom: 5vw;
    bottom: 30vw;
  }
  
  .needatruck h1 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  .needatruck p{
    font-family: 'Roboto Condensed', sans-seri;
    font-size: 17px;
    margin-left: 16vw;
    margin-right: 16vw;
  }
  
  .manpower{
    position: relative;
    text-align: center;
    font-family: 'bebas neue';
    
    bottom: 32vw;
    margin-top: 5vw;
    
  }
  
  .manpower h1{
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
  .manpower p{
    font-family: 'Roboto Condensed', sans-seri;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5vw;
  }
  
  .moving-img4{
    align-self: center;
    position: relative;
    bottom: 35vw;
    left: 45vw;
    width: 2vw;
  }
  
  
  .merittext2 h3{
    position: relative;
    text-align: center;
    font-family: 'bebas neue';
    margin-bottom: 5vw;
    bottom: 36vw;
    font-size: 20px;
    letter-spacing: 5px;
   
  }
  .PriceList{
    position: relative;
    right: 5vw;
  }
  
  .merittext3 p{
    margin-top: 20px;
  }
  
  .merittext2 ul{
    position: relative;
    list-style-type: disc; /* Set the bullet style to 'disc', other options include 'circle', 'square', etc. */
    padding-left: 47vw; /* Increase or decrease the left padding to move the list to the right */
    font-family: 'Roboto Condensed', sans-seri;
    bottom: 40vw;
    font-size: 20px;
    left: 3vw;
  }
  
  .merittext3,.merittext4 {
    position: relative;
    text-align: center;
    font-family: 'bebas neue';
    margin-bottom: 5vw;
    bottom: 39vw;
    left: .5vw;
  
  }
  
  
  .BedroomList{
    align-content: center;
    position: relative;
    left: 43vw;
    font-family: 'Roboto Condensed', sans-seri;
    position: relative;
    bottom: 40vw;
    font-size: 20px;
  }
  
  .merittext3 h1{
    font-family: 'bebas neue';
  
  }
  
  .merittext3,.merittext4 h1{
    margin-top: 50px;
    
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 10px;
    
  }
  
  .merittext3 h2{
    letter-spacing: 5px;
    word-spacing: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 25px;
    margin-bottom: 2vw;
  
  }
  .merittext3,.merittext4 p{
    font-family: 'Roboto Condensed', sans-seri;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 20px;
  }
  .MovingChargesList{
    align-content: center;
    position: relative;
    left: 30vw;
    font-family: 'Roboto Condensed', sans-seri;
    position: relative;
    bottom: 42vw;
    font-size: 17px;
  }
  .InstagramIconColor img {

    width: 4vw;
    position: relative;
    bottom: 30vw;
    right: 35vw;
    display: inline;
  }
  .FacebookIconColor img {
   
    width: 4vw;
    position: relative;
    bottom: 26vw;
    right: 40vw;
    display: inline;
  }
}
/*XL Screens(Tv and big Monitors) End------------------------------------------ */
