/* CSS styles for the header */

 .header-logo img {
    width: 100px; /* Adjust the width of the image as desired */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 400px;
    
    
    
  }
  .PhoneNumber{
    font-size: 8px;
    position: absolute;
    top: 0;
    right: 300px;
    color: rgb(239, 239, 239);
    background-color: #333;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    
  }
  .TitleWork h1 {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 35px;
    align-items: center; 
    justify-content: center;
    padding-top: 10px;
   
    

  }
  .TitleWork {
    display: flex; /* Use flexbox for better alignment */
    align-items: center; 
    justify-content: center;
    
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
   
  }
  header ul {
    list-style-type: none;
    margin: 0;
  }
  
  header ul li {
    display: inline;
    margin-right: 30px;
    font-size: 20px; 
  }
  
  header ul li a {
    color: #fff;
    text-decoration: none;
  }
  